<div class="card">

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Let's talk about music
        </h1>
      </div>
    </div>
  </section>

  <div class="card-content">
    <div class="content has-text-centered">

      <% if (success.length > 0) { %>
        <div><%= success %></div>
      <% } %>
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Album Name</th>
            <th>Artist</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let album of albums) { %>
            <tr>
              <td><%= album.name %></td>
              <td><%= album.artist %></td>
              <td><%= album.rating %> / 5</td>
              <td>
                <a href="/albums/<%= album.slug %>" class='button'>View</a>
                <a href="/albums/<%= album.slug %>/edit" class='button is-primary'>Edit</a>
                <a href="/albums/<%= album.slug %>/delete" class='button is-danger'>Delete</a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>